* {
    margin: 0;
    padding: 0;
}

/* colour setup for font, background and button */

.bg-clr {
    background-color: #f5f8ff;
}

.font-clr-primary {
    color: #E95A08;
}

.font-clr-light {
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #E95A08;
}

.btn-primary:hover{
    background-color: #a208b6;
    color: white;
    cursor: pointer;
}

/* font-setup */

.font-noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* header starts */
.navbar {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

.navlinks ul {
    display: flex;
    gap: 48px;
}

.navlinks ul li {
    list-style: none;
}

.navlinks ul li a {
    text-decoration: none;
}

.banner {
    max-width: 1140px;
    margin: 120px auto;
    padding-top: 106px;
    display: flex;
    align-items: flex-end;
}

.hero-title {
    font-size: 4.063rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.375rem;
}

/* header Ends */

/* Main */

/* section our-plants starts */

.our-plants {
    max-width: 1140px;
    margin: 0 auto;
}

.our-plants-content h1 {
    font-size: 3.125rem;
    font-weight: bold;
    padding-bottom: 16px;
}

.our-plants-content p {
    font-size: 1.375rem;
    padding-bottom: 49px;
}

.our-plants-content {
    text-align: center;
}

.our-plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}

.plants-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.plants-cards h3 {
    font-size: 1.375rem;
    font-weight: 600;
}

.plants-cards p {
    font-size: 1.375rem;
    font-weight: bold;
}

.plants-cards button {
    border: none;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.our-plants-cards img {
    max-width: 100%;
}


/* section our-plants ends */

/* section flower-lover starts */

.lover-badge {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 210px;
    gap: 60px;
    position: relative;
}

.badge {
    max-width: 286px;
    max-height: 286px;
    position: absolute;
    top: -130px;
    left: 350px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));

}

.spin {
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.lover-badge-content h1 {
    font-size: 3.125rem;
    font-weight: bold;
}

.lover-badge-content ul {
    padding-left: 30px;
}

.lover-badge-content li {
    font-size: 1.375rem;
    padding-top: 20px;
}

/* section flower-lover ends */

/* section latest-deals starts */

.latest-deals {
    max-width: 1140px;
    margin: 120px auto;
}

.latest-deals-content {
    text-align: center;
    padding-bottom: 120px;
}

.latest-deals-content h1 {
    font-size: 3.125rem;
    font-weight: bold;
    padding-bottom: 16px;
}

.latest-deals-content p {
    font-size: 1.375rem;
}


.latest-deals-cards {
    display: flex;
    align-items: center;
    gap: 28px;
}

.left-cards {
    max-width: 367px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

.left-card-one {
    position: relative;
}

.left-card-contents-one {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-cards p {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.left-cards a {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.left-card-two {
    position: relative;
}

.left-card-contents-two {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-card-contents {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: -2px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-cards {
    position: relative;
    text-align: center;
}

.right-cards p {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.right-cards a {
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}

.left-cards img {
    border-radius: 14px;
    max-width: 100%;
    max-height: 100%;
}

.right-cards img {
    border-radius: 22px;
    max-width: 100%;
    max-height: 100%;
}

/* section latest-deals ends */

/* section newsletter starts */

.join-section {
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.join-info-title h1 {
    font-size: 3.12rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.join-info {
    padding: 193px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.join-info-input {
    display: flex;
    gap: 0;
    max-width: 830px;
    width: 100%;
    height: 50px;
}

.join-info-input input {
    flex: 1;
    padding-left: 20px;
    font-size: 1rem;
}

.join-info-input button {
    border: none;
    max-width: 186px;
    width: 100%;
    color: white;
    font-size: 1rem;
}

/* section newsletter ends  */

/* section footer starts  */

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1140px;
    margin: 50px auto;
}

.footer-one {
    max-width: 359px;
}

.footer-one p {
    padding-top: 16px;
    font-size: 1.375rem;
}

.footer-two ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-two li {
    list-style: none;
}

.footer-two a {
    text-decoration: none;
}

.footer-three ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-three li {
    list-style: none;
}

.footer-three a {
    text-decoration: none;
}

.socials {
    max-width: 216px;
    max-height: 36px;
    display: flex;
    align-items: center;
    gap: 24px;

}

/* section footer ends  */

/* media query for mobile device */

@media screen and (max-width: 576px) {

    /* header */
    .navbar {
        padding: 13px 16px 0px 16px;
    }

    .navlinks ul li:nth-child(1) {
        display: none;
    }

    .navlinks ul li:nth-child(2) {
        display: none;
    }

    .navlinks ul li:nth-child(3) {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 0px;
        padding-top: 28px;
        gap: 28px;
    }

    .hero-container {
        margin: 0px 17px;
    }

    .hero-title {
        font-size: 1.5rem;
        padding-bottom: 13px;
    }

    .hero-subtitle {
        font-size: 0.875rem;
    }


    /* section our-plants */
    .our-plants {
        margin-top: 65px;
    }

    .our-plants-content {
        margin: 0px 28px;
    }

    .our-plants-content h1 {
        font-size: 1.5rem;
    }

    .our-plants-content p {
        font-size: 0.875rem;
    }

    .our-plants-content p br {
        display: none;
    }

    .our-plants-cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 17px 0px 14px;
    }

    .plants-cards h3,
    p,
    button {
        font-size: 1rem;
    }



    /* section lover-badge */
    .lover-badge {
        flex-direction: column;
        margin: 41px 15px 0px 17px;
        gap: 18px;
    }

    .lover-badge-content h1 {
        font-size: 1.5rem;
    }

    .lover-badge-content h1 br {
        display: none;
    }

    .lover-badge-content li {
        font-size: 0.875rem;
    }

    .lover-badge-img {
        max-width: 100%;
    }

    .badge {
        display: none;
    }



    /* section latest-deals */
    .latest-deals {
        margin-bottom: 40px;
    }

    .latest-deals-content {
        margin: 0px 28px;
        padding-bottom: 51px;
    }

    .latest-deals-content h1 {
        font-size: 1.5rem;
    }

    .latest-deals-content p {
        font-size: 0.875rem;
    }

    .latest-deals-content p br {
        display: none;
    }

    .latest-deals-cards {
        margin: 0;
        flex-direction: column;
    }

    .left-cards {
        text-align: center;
        margin: 0px 17px 0px 14px;
    }

    .left-cards p {
        font-size: 1.25rem;
        padding-bottom: 26px;
    }

    .left-cards a {
        font-size: 1rem;
    }

    .right-cards {
        text-align: center;
        margin: 0px 17px 0px 14px;
    }

    .right-cards p {
        font-size: 1.25rem;
        padding-bottom: 26px;
    }

    .right-cards a {
        font-size: 1rem;
    }



    /* section newsletter */
    .join-info {
        padding: 110px 36px 60px 36px;
    }

    .join-info-title h1 {
        font-size: 1.25rem;
    }


    /* section footer */
    .footer {
        flex-direction: column;
        margin: 50px 20px;
        gap: 20px;
    }

    .footer-one p {
        font-size: 1rem;
    }
}